<li class="dropdown"data-admin-menu>
    <a href="#" >
        Admin
        <span class="glyphicon glyphicon-chevron-down" ></span>
         
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Minor Entites</li>
        <li class="divider"/>
        <li><a href="/Admin/Section">&nbsp;&nbsp;Section</a></li>
        <li><a href="/Admin/Part">&nbsp;&nbsp;Part</a></li>
        <li><a href="/Admin/ItemType">&nbsp;&nbsp;ItemType</a></li>
        <li><a href="/Admin/ProductType">&nbsp;&nbsp;ProductType</a></li>
        <li><a href="/Admin/ProductLinkText">&nbsp;&nbsp;ProductLinkText</a></li>
        <li class="divider" />
        <li class="dropdown-header">Major Entites</li>
        <li class="divider" />
        <li><a href="/Admin/Item">&nbsp;&nbsp;Item</a></li>
        <li><a href="/Admin/Product">&nbsp;&nbsp;Product</a></li>
        <li><a href="/Admin/Subscription">&nbsp;&nbsp;Subscription</a></li>
        <li class="divider" />
        <li class="dropdown-header">Connector Entites</li>
        <li class="divider" />
        <li><a href="/Admin/ProductItem">&nbsp;&nbsp;ProductItem</a></li>
        <li><a href="/Admin/SubscriptionProduct">&nbsp;&nbsp;SubscriptionProduct</a></li>
        <li class="divider" />
        <li class="dropdown-header">User & Subscription</li>
        <li class="divider" />
        <li><a href="/Account">&nbsp;&nbsp;User & Subscription</a></li>
        @*Place our menu items*@

    </ul>
</li>